/*
                        _   _       _a_a
            _   _     _{.`=`.}_    {/ ''\_
      _    {.`'`.}   {.'  _  '.}  {|  ._oo)
     { \  {/ .-. \} {/  .' '.  \} {/  |
~^~^~`~^~`~^~`~^~`~^~^~`^~^~`^~^~^~^~^~^~`^~^~`^~^~`^~^~`^~^~`^~^~`^~^~`^~^~`^~
/* ----------------------------------------------------------------------------
[Master Frontend Stylesheet]

Project:        Life App - Yves Engetschwiler
Version:        1.0
Last change:    14/04/2022
Created by:     Yves Engetschwiler (info@bee-interactive.ch)
// --------------------------------------------------------------------------*/

/* Resets & imports
// --------------------------------------------------------------------------*/
@tailwind base;

/* Import fonts
// --------------------------------------------------------------------------*/
@import 'lufga';

/* Tailwind components
// --------------------------------------------------------------------------*/
@tailwind components;

/* Custom Style
// --------------------------------------------------------------------------*/
.custom-shadow {
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.05);
}

/* Tailwind utilities
// --------------------------------------------------------------------------*/
@tailwind utilities;
